__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
Contenidos de Clase
Grabaciones de Clase
datos_privados/
face_landmarker.task
modelo/*.joblib
.agents
.codex
Recordings.zip
Trabajos Practicos/TP Integrador/cache/videos
Trabajos Practicos/TP Integrador/cache/logs
